:root {
  --primary-color: #25b4e5;
  --secondary-color: #303f9f;
  --gray-color: #82898c;
}

/*damos el formato al cuerpo , el texto tendra por defecto el color gris usado por la empresa y la fuente
sera Lato, para los encabezadosTtitulos se usara Monstserrat*/
body {
  color: var(--gray-color);
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  /* margin: 10px; */
  color: var(--primary-color);
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.card {
  /* sombras para el efecto de carta */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* cuando se posiciona el mouse sobre la imagen se realiza un pequeño efecto con mas sombra */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  width: 720px;
  height: 1500px;
  background: #f5f5f5;
  margin: 10px auto;
}

#back-image {
  background: url("img/background2.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  opacity: 0.45;
}

/*el contenedor del contenido*/
#news-content {
  /* background: #e8eaf6; */
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 150px;
  right: 20px;
  left: 20px;
  width: 680px;
  height: 1300px;
  margin: auto;
}

/* -----------------header---------------------- */
/*el titulo principal   estilos del header*/
#main-title {
  float: left;
  margin-top: 10px;
  font-size: 2.5rem;
  color: var(--secondary-color);
}

#logo {
  width: 120px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

header {
  position: absolute;
  width: 100%;
  text-align: center;
}

header div {
  width: 70%;
  margin-left: 40px;
}

.line {
  height: 1px;
  width: 80%;
  background: var(--secondary-color);
  display: block;
  margin: 110px auto 1rem auto;
}

/*section bon bon */
/* le damos un tamaño inferior al del contenido del newsletter y luego lo centramos, esta sera una seccion horizontal */
#bon-bon {
  margin: 120px auto;

  padding: 10px;
  width: 600px;
  height: 210px;
}

#bon-bon img {
  width: 45%;
  height: 210px;
  float: left;
  border-radius: 20%;
}

#bon-bon div {
  float: right;
  padding-left: 15px;
  width: 50%;
}

#bon-bon h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

#bon-bon p {
  text-align: justify;
}

.btn {
  display: inline-block;
  margin: 5px 90px;
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  padding: 5px;
  border-radius: 10px;
}

/*seccion de galletas Muu, esta vez definiremos todo nuevamente pero claramente hay algunas cosas que se podian reutilizar*/

#cookie {
  margin: -100px auto auto auto;
  /* margin-top: 0px; */
  padding: 10px;
  width: 600px;
  height: 210px;
}

#cookie img {
  width: 45%;
  height: 210px;
  float: right;
  /* border-radius: 20%; */
}

#cookie div {
  float: left;
  padding-left: 15px;
  width: 50%;
}

#cookie h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

#cookie p {
  text-align: justify;
}

/*Seccion de familia de productos*/
#family #titles {
  margin-top: 20px;
}
#family h1 {
  color: var(--secondary-color);
}

#family span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondary-color);
}

#products {
  margin: 0px auto auto auto;
  /* margin-top: 0px; */
  padding: 10px;
  width: 600px;
  height: 300px;
}

#products .product {
  width: 30%;
  height: 280px;
  padding: 1px;
  float: left;
  margin-left: 15px;
  text-align: center;
}

#products img {
  width: 100%;
  height: 150px;

  /* border-radius: 20%; */
}

#family a {
  padding: 20px;
  margin: 0px 240px;
}

/*SECCION DEL FOOTER*/
footer {
  padding: 10px;
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
  /* background-color: var(--secondary-color); */
  text-align: center;
}

footer a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}
